.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
  }


  .nav-link {
    font-size: 1.2rem;
    font-family: "Ubuntu";
    font-weight: 1.5rem;

  }
  .backimg{
    height: auto;
    width: auto;
  }
  