<div class="container" id="footer">
    <footer class="px-3 mt-5 border-top col-lg-12">
        <div class="container col-lg-12 justify-content-center">
           <a href="https://www.facebook.com/"> <i class="social-icon face fa-brands fa-facebook-f fa-2x fa-flip" ></i></a>
           <a href="https://www.instagram.com/"> <i class="social-icon inst fa-brands fa-instagram fa-2x fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></a>
           <a href="https://twitter.com/"><i class="social-icon twit fa-brands fa-twitter fa-2x fa-beat"></i></a>
           <a href="https://www.linkedin.com/"><i class="social-icon linke fa-brands fa-linkedin fa-2x fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i></a>
           <a href="https://github.com/"><i class="social-icon git fa-brands fa-github fa-2x fa-spin"></i></a>
        </div>
        <div class="col-lg-12 justify-content-center">
        <h6>2022<i class="fa-solid fa-copyright fa-sm"></i>AnilKumar </h6>
    </div>
    </footer>
  </div>



  