<div class="container d-flex align-items-center justify-content-center flex-wrap  mx-auto  px-5">
    <div class="box">
        <div class="body">
            <div class="imgContainer">
               <img src="../assets/Info.jpg" alt="info"> 
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>                    
                    <ul class="text-white fs-6" >
                        <li>Gantipilli Anil Kumar</li>
                        <li>anilkumargantipilli@gmail.com</li>
                        <li>18-07-1998</li>
                        <li>Kakinada, Andhra pradesh</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../assets/Education.jpg" alt="info">            
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    
                    <ul class="text-white fs-6" >
                        <li>B.Tech, Mechanical</li>
                        <li>Pragati Engineering College</li><br>
                        <li>Intermediate, MPC</li>
                        <li>Narayana Junior College</li><br>
                        <li>SSC</li>
                        <li>SSRK MPL High School</li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../assets/Skills.jpg" alt="info">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    
                    <ul class="text-white fs-6" >
                        <li>Python Programming</li>
                        <li>JavaScript</li>
                        <li>Angular</li>
                        <li>HTML, CSS</li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../assets/Certification.jpg" alt="info">           
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <ul class="text-white fs-6" >
                        <li>PCPA from cisco</li>
                        <li>Full stack web Development</li>
                        <li>Data structures and Algorithms</li>
                        
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="../assets/Download.jpg" alt="info">           
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <button type="submit" class="btn btnl  btn-block mb-3">Download</button>              
                </div>
            </div>
        </div>
    </div>
</div>
